@import "normalize";
@import"bourbon/bourbon";
@import"base/base";
@import"neat/neat";
@import"fonts/fonts";
@import"layouts/base";

body {
  padding: 1em;
}

.header {
  @include clearfix();
  padding-bottom: 0em;
  margin: 0 auto;
  p {
    margin-bottom: 0em;
  }
  h1 {
    font-size: 1em;
    float: left;
  }

  nav {
    float: right;
  }

  li {
    display: inline-block;
    margin-left: $gutter/2;
    list-style: none;
  }
}

.container {
  @include outer-container();
  @include omega(2);
  padding: 0px 5px;
  max-width: 1100px;
}

.post {
  ul {
    @extend %default-ul;
    list-style-type: none;
  }

  ol {
    @extend %default-ol;
  }
}

h2 small {
  font-size: 0.5em;
}

.pager {
  margin-top: $gutter;
  padding-top: $gutter/2;
  @include clearfix;

  .next {
    float: right;
  }

  .prev {
    float: left;
  }
}
