@font-face {
    font-family: "title";
    src: url("../fonts/GalaxiePolarisBold.otf");
}

@font-face {
    font-family: "subtitle";
    src: url("../fonts/GalaxiePolarisMedium.otf");
}

@font-face {
    font-family: "paragraph";
    src: url("../fonts/GalaxiePolarisBook.otf");
}

@font-face {
    font-family: "sec_paragraph";
    src: url("../fonts/EuclidRegular.ttf");
}

@font-face {
    font-family: "paragraph_italic";
    src: url("../fonts/GalaxiePolarisBookItalic.otf");
}