@font-face {
    font-family: "title";
    src: url("../fonts/GalaxiePolarisBold.otf");
}

@font-face {
    font-family: "subtitle";
    src: url("../fonts/GalaxiePolarisMedium.otf");
}

@font-face {
    font-family: "par";
    src: url("../fonts/GalaxiePolarisBook.otf");
}

@font-face {
    font-family: "sec_paragraph";
    src: url("../fonts/EuclidRegular.ttf");
}

@font-face {
    font-family: "par_italic";
    src: url("../fonts/GalaxiePolarisBookItalic.otf");
}

@font-face {
    font-family: "par-bold";
    src: url("../fonts/akzidenz-grotesk-bold.ttf");
}

@font-face {
    font-family: "helveticaNeue";
    src: url("../fonts/helvetica.ttf");
}

@font-face {
    font-family: "helveticaNeue_thin";
    src: url("../fonts/helvetica-thin.ttf");
}