@font-face {
    font-family: "par_italic";
    src: url("../fonts/GalaxiePolarisBookItalic.otf");
}

@font-face {
    font-family: "helveticaNeue";
    src: url("../fonts/helvetica.ttf");
}

@font-face {
    font-family: "helveticaNeue_thin";
    src: url("../fonts/helvetica-thin.ttf");
}

@font-face {
    font-family: "avant-garde";
    src: url("../fonts/avant-garde.ttf");
}