.wrapper {
	margin: 0 auto;
}
.post > header {
	@include media($small-screen) {
		margin: 20px auto 20px;
	}
	@include media($large-screen) {
		margin: 60px auto 40px;
	}
	
}
header {
	margin-top: 30px;
	h3 {
		letter-spacing: 3px;
		margin-bottom: 2px;
	}
	p {
		float: left;
	}
}
main {
	max-width: 600px;
}
footer {
	margin: 0 auto;
}
.span4 {	
	@include media($small-screen) {
		@include span-columns(12);
	}
	@include media($large-screen) {
		@include span-columns(4);
	}
}
.span8 {	
	@include media($small-screen) {
		@include span-columns(12);
		max-width: 600px;
	}
	@include media($large-screen) {
		@include span-columns(8);
	}
}

//Float
.right {
	float: right;
}
.left {
	float: left;
}
.close {
	letter-spacing: -0.05em;
}
.posts {
	@include fill-parent;
}
hr {
	margin: 10px 0 10px;
}
small {
	font-size: 0.6em;
}

//Gutter
.large-gutter-top {
	@include media($small-screen) {
		margin-top: 0;
	}
	@include media($large-screen) {
		margin-top: $gutter*1.4;
	}
}