body {
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size*1.4;
  line-height: $base-line-height;
  background: $base-background-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

h1 {
  font-size: 2em;
  letter-spacing: 1px;
}

h2 {
  font-size: 1.8em;
  letter-spacing: 1px;
}

h3 {
  
  @include media($small-screen) {
    font-size: 2em;
  }
  @include media($large-screen) {
    font-size: 3em;
  }
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

p {
  margin: 0 0 $small-spacing;
  @include media($small-screen) {
    font-size: .8em;
  }
  @include media($large-screen) {
    font-size: 1em;
  }
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color 0.1s linear;

  &:active,
  &:focus,
  &:hover {
    color: $action-color-hover;
  }

  &:active,
  &:focus {
    outline: none;
  }
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
  max-width: 200px;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}
