---
title: About My Site
---

<article class="post">
  <header class="header">
    <h3 class="bold"></h3>
    <p>this is an alterior argument</p>      
  </header>
  <main>
	  <h2 class="italic">rule 1</h2>
    <p>rule 2</p>
  </main>
</article>


