---
title: My Blog
pagination:
  for: posts
  per_page: 10
---

<article class="wrapper post span4 left">
	<header class="header">
		<a href="/"><h3 class="bold close" >pete<br>smaluck</h3></a>
	</header>
	<section>
		<ul>
		  <% pagination.each do |post| %>
		  <a class="blog-link" href="/blog/<%= post['slug'] %>/">
				<p><%= post['title'] %></p>
		  </a>
		  <% end %>
		</ul>
	</section>
</article>

    
<article class="wrapper post post-main span8 large-gutter-top">
    <hr>
    <div class="new-post">
		<p class="intro">Hey, I'm Pete. I built this site to practice building static sites using Middleman and the Wordpress REST API. I am a web developer in Hamilton, Ontario. I work with a great team at <a href="http://wiseandhammer.com">Wise and Hammer</a>.
		<br>
		<br>
		I have been in Hamilton for over a decade now. When I'm not golfing at Chedoke you might catch me in the Jackson Square food court eating Taco Bell and drinking Mountain Dew, or at home watching Game of Thrones.
		</p>
	</div>
</article>
